$white: #FCFEF5;
$offWhite: #FAFBE3;
$black: #66675C;
$tan: #CDCFB7;
$lightGreen: #E9FFE1;
$green: #D6E6C3;

$text-color: $black;
$body-background-color: $white;

$h1-color: $tan;
$header-color: $black;

$sans-serif: 'Libre Franklin', sans-serif;
$serif: 'Libre Baskerville', serif;

$link-font-family: $sans-serif;