$white: #FFFFFF;
$black: #260F07;
$violet: #6B4582;
$lightViolet: #5D4E75;
$lightBlue: #CACEFE;

$text-color: $lightBlue;
$body-background-color: $black;

$title-color: $lightBlue;
$h1-color: $title-color;
$header-color: $black;