$red: #CD544B;
$green: #536653;
$yellow: #BBA24E;
$tan: #DAC99D;
$black: #29211F;

$text-color: $black;
$body-background-color: fade-out($tan, 0.75);

$title-color: $green;
$h1-color: $title-color;
$header-color: $black;