@import 'styles/variables';

:global {
  body {
    background-color: $body-background-color;
  }

  h1 {
    color: $h1-color;
    font-weight: 400;
  }

  h2, h3, h4, h5, h6 {
    color: $header-color;
  }

  p {
    color: $text-color;
  }

  a, a:link {
    text-decoration: none;
  }
}