@import 'styles/variables';

:global {
  body {
    background-color: $body-background-color;
  }

  h1 {
    color: $h1-color;
    font-weight: 400;
    font-size: 4em;
  }

  h2, h3, h4, h5, h6 {
    color: $header-color;
  }

  section {
    padding: 3em 0;
  }

  p {
    color: $text-color;
  }

  a, a:link {
    font-family: $link-font-family;
    font-weight: 400;
    text-decoration: none;
    color: $tan;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: fade-out($green, 0.5);
      opacity: 0;
      transition: opacity 0.3s, transform 0.3s;
      transform: translateY(10px);
    }

    &:hover, &:focus {
      color: $green;
      &::after {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
  }
}